<%= form_for new_tweet, :url => path, :html => {:class => "form-horizontal center"} do |t| %>
  <div class="form-group">
    <%= t.text_area :content, class: "form-control", placeholder: "What's happening", rows:4, required: true, maxlength: 256 %>
  </div>
  <% if new_tweet.commentee %>
    <div class="border rounded p-2 mb-2 ml-4">
      <%= t.text_field :tweet_id, value: new_tweet.commentee.id, hidden:true %>
      <%= render 'tweet_content', tweet: new_tweet.commentee %>
    </div>
  <% end %>
  <div class="advance-form-btn pointer">
    <small>advance tweet <%= fa_icon "angle-double-down", class: "advance-form-icon" %></small>
  </div>
  <div class="advance-form">
    <div class="form-group">
      <%= t.label :published_at %> :
      <%= t.datetime_field :published_at, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= t.label :deleted_at %> :
      <%= t.datetime_field :deleted_at, class: "form-control" %>
    </div>
  </div>
  <div class="text-right">
    <%= t.submit "Tweet", class: "btn btn-primary" %>
  </div>
<% end %>