<div>
  <p><small><%= tweet.created_at %></small></p>
  <p><%= tweet.content %></p>
  <div>
    <%= link_to "#"%>
      <%= fa_icon "comment-o" %>
    <% end %>
    <%= link_to "#"%>
      <%= fa_icon "retweet" %>
    <% end %>
    <%= link_to "#"%>
      <%= fa_icon "trash" %>
    <% end %>
  </div>
</div>