<div>
  <div class="card mb-3">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <% if tweet.parent.present? %>
          <small class="font-weight-light">
            Replying to 
            <% tweet.reply_to.each do |u| %>
              <%= link_to "@#{u.name}", user_path(u) %>
            <% end %>
          </small>
        <% end %>
        <p><%= link_to tweet.content, tweet_path(tweet), class: "no-style" %></p>
        <footer class="blockquote-footer"><%= link_to "@#{tweet.user.name}", user_path(tweet.user) %><small><%= " - #{tweet.created_at}" %></small></footer>
      </blockquote>
    </div>
    
    <div class="card-footer">
      <%= link_to tweet_path(tweet), class: "text-primary mr-3" do %>
        <%= fa_icon "comment-o lg", text: tweet.replies.empty? ? "" : tweet.replies.size.to_s %>
      <% end %>
      <%= link_to "#", class: "text-success mr-3" do %>
        <%= fa_icon "retweet lg" %>
      <% end %>
      <% if user_signed_in? && current_user.tweets.include?(tweet) %>
        <%= link_to tweet_path(tweet), method: :delete, class: "text-danger mr-3" do %>
          <%= fa_icon "trash-o lg" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
