<%= content_tag :div, id: "tweet-#{tweet.id}" do %>
  <div class="card mb-3">
    <div class="card-body">
      <% if user_signed_in? && current_user.tweets.include?(tweet) %>
        <%= link_to tweet_path(tweet), method: :delete, class: "text-danger mr-3 text-decoration-none float-right", remote: true do %>
          <%= fa_icon "trash-o lg" %>
        <% end %>
      <% end %>
      <%= render 'tweets/tweet_content', tweet: tweet %>
      <% if tweet.commentee %>
        <div class="border rounded p-2 m-2 ml-4">
          <%= render 'tweets/tweet_content', tweet: tweet.commentee %>
        </div>
      <% end %>
    </div>
    
    <div class="card-footer">
      <% if user_signed_in? %>
        <% if current_user.liked_tweets.include? tweet %>
          <%= link_to tweet_like_path(tweet), method: :delete, class: "text-danger mr-3 text-decoration-none", remote: true do %>
            <%= fa_icon "heart lg", text: tweet.liking_users.empty? ? "" : tweet.liking_users.size.to_s %>
          <% end %>
        <% else %>
          <%= link_to tweet_like_path(tweet), method: :post, class: "text-danger mr-3 text-decoration-none", remote: true do %>
            <%= fa_icon "heart-o lg", text: tweet.liking_users.empty? ? "" : tweet.liking_users.size.to_s %>
          <% end %>
        <% end %>
        <%= link_to tweet_path(tweet), class: "text-primary mr-3 text-decoration-none" do %>
          <%= fa_icon "comment-o lg", text: tweet.replies.empty? ? "" : tweet.replies.size.to_s %>
        <% end %>
        <% if current_user.retweets.include? tweet %>
          <%= link_to tweet_retweet_path(tweet), method: :delete, class: "text-success mr-3 text-decoration-none", remote: true do %>
            <%= fa_icon "retweet lg", text: tweet.retweeters.empty? ? "" : tweet.retweeters.size.to_s %>
          <% end %>
        <% else %>
          <%= link_to tweet_retweet_path(tweet), method: :post, class: "text-muted mr-3 text-decoration-none", remote: true do %>
            <%= fa_icon "retweet lg", text: tweet.retweeters.empty? ? "" : tweet.retweeters.size.to_s %>
          <% end %>
        <% end %>
        <%= link_to tweets_path(tweet_id: tweet.id), class: "text-secondary mr-3 text-decoration-none" do %>
          <%= fa_icon "share-square-o lg" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
