<div>
  <div class="card mb-3">
    <%= link_to tweet_path(tweet), class: "clickable-card" do %>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= tweet.content %></p>
          <footer class="blockquote-footer"><%= link_to "@#{tweet.user.name}", user_path(tweet.user) %><small><%= " - #{tweet.created_at}" %></small></footer>
        </blockquote>
      </div>
    <% end %>
    <div class="card-footer">
      <%= link_to tweet_reply_path(tweet) do %>
        <%= fa_icon "comment-o" %>
      <% end %>
      <%= link_to "#" do %>
        <%= fa_icon "retweet" %>
      <% end %>
      <% if user_signed_in? && current_user.tweets.include?(tweet) %>
        <%= link_to tweet_path(tweet), method: :delete do %>
          <%= fa_icon "trash-o" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
