<div>
  <h1>
    @<%= @user.name %>
    <% if @user != current_user %>
      <% if current_user.followings.include? @user %>
        <%= link_to user_follow_path(@user), class: "btn btn-outline-success active", method: :delete  do %>
          Following
        <% end %>
      <% else %>
        <%= link_to user_follow_path(@user), class: "btn btn-outline-success", method: :post  do %>
          <%= fa_icon "plus", text: "Follow"%>
        <% end %>
      <% end %>
    <% end %>
  </h1>
</div>
<nav class="tab-links">
  <div class="tab-link active" data-tabname="tweets">
    Tweets (<%= @tweets_size %>)
  </div>
  <div class="tab-link" data-tabname="followers">
    Followers (<%= @followers_size %>)
  </div>
  <div class="tab-link" data-tabname="followings">
    Followings (<%= @followings_size %>)
  </div>
</nav>
<div class="tab-contents">
  <div id="tab-tweets" class="tab-content active">
    <%= render 'tweets/tweets', tweets: @tweets %>
  </div>
  <div id="tab-followers" class="tab-content">
    <%= render 'users/users', users: @followers, name: "followers", message: "You have no followers" %>
  </div>
  <div id="tab-followings" class="tab-content">
    <%= render 'users/users', users: @followings, name: "followings", message: "You have no followings" %>
  </div>
</div>