<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="m-4">
      <div class="row">
        <div class="col-3">
          <%= render 'shared/trend', hashtags: @hashtags%>
        </div>
        <div class="col-6">
        <%= yield %>
        </div>
        <div class="col-3">
          <%= render 'shared/suggestion', suggestions: @suggestions %>
        </div>
      </div>
    </div>
    <script>
      var currentTime = new Date();
      var utcOffset = currentTime.getTimezoneOffset()
      document.cookie = 'time_zone_offset='+utcOffset+';';
    </script>
  </body>
</html>
