<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <%= render 'shared/trend', hashtags: @hashtags%>
        </div>
        <div class="col-8">
        <%= yield %>
        </div>
        <div class="col-2 bg-warning text-dark p-2">
          Followers?
        </div>
      </div>
    </div>
    <script>
      var currentTime = new Date();
      var utcOffset = currentTime.getTimezoneOffset()
      document.cookie = 'time_zone_offset='+utcOffset+';';
    </script>
  </body>
</html>
